* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #9535f9;
    color: white;
    line-height: 1.5;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

header, footer {
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

header {
    background-color: #5e1aa7;
}

main {
    margin-top: 30px;
}

h1 {
    color: #56ddf0;
}

h3 {
    font-size: 24px;
    border-bottom: solid #56ddf0 3px;
}

h4 {
    margin: 20px;
    font-size: 18px;
    font-style: italic;
}

h5 {
    font-style: italic;
    font-size: 14px;
}

p {
    margin: 20px;
}

a {
    color: #56ddf0;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    margin: 15px;
}

a:hover {
    color: white;
    font-style: italic;
    font-weight: lighter;
}

.wrapper-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper-box {
    margin: 20px;
    padding: 20px;
    border: solid 5px #56ddf0;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wrapper img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.docenten-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 768px) {
    h3 {
        font-size: 20px;
    }

    .wrapper-box {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    h3 {
        font-size: 18px;
    }

    .wrapper-box {
        flex: 1 1 100%;
    }

    .wrapper-container, .docenten-box {
        flex-direction: column;
    }
}
